# Bytecode and cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Logs and database files
*.log
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor settings
.vscode/
.idea/
*.swp

# Secrets and environment variables
.env
config.json
